<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/show.css">

<!-- <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 col-l-12 col-md-offset-3 col-sm-offset-2"> -->
        <div class="cardo">

          <div class="image">
            <img src="<%= gdes.img %>" width="100%">
          </div>

          <div class="text">
            

            <h1><%= gdes.nam %></h1><hr>
            <p><%= gdes.des %></p>
            <br>
            <a href="<%= gdes.url %>">
            <button type="button" class="btn btn-outline-success btn-lg btn-block">DOWNLOAD GAME</button>
                </a>
                
          </div>



        </div>
      <!-- </div>
    </div>
  </div> -->
  
  

<%- include('../partials/footer.ejs') %>
